:root {
    --peach: #ffe3b3; 
    --topaz: #ffc872;
    --spanish-blue: #006bbb;
    --button-blue: #30a0e0;

    --white: #ffffff;
    --rich-black: #001220;
    --black: #000000;
    --dark-gunmetal: #202731;
    --medium-gray: #71716F;
    --sky-gray: #BCC8C6;
}
